<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        <strong>User:</strong>
        <%= "#{@user.name}    #{@user.surname}" %>
      </p>
      <p>
        <strong>Title:</strong>
        <%= @article.title.capitalize %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <strong>Body:</strong>
        <%= @article.body.capitalize %>
      </p>
    </div>
  </div>
  <div class="btn  btn-outline-info">
    <%= link_to 'Edit', edit_user_article_path(@user, @article) %>
  </div>
  <div class="btn  btn-outline-info">
    <%= link_to 'Back', user_articles_path %>
  </div>
</div>
</body>