<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Show All Articles', user_articles_path(@user) %> |
<%= link_to 'Crete Article', new_user_article_path(@user) %> |
<%= link_to 'Back', users_path %>
